#wrapper1{
	border: 5px solid #ededed;
	width: 600px;
	margin: 0px auto;
	border-radius: 10px;
	padding: 15px;
	color: white;
}
#joinForm {
	display: table;
	margin: 10px auto;
	border-collapse:collapse;
}
#joinForm p{/* tr에 해당하는 p, label이 td에 해당*/
	display: table-row;
	padding: 5px;
	border-bottom: 1px solid #B6B6B6;
}
#joinForm label{
	display: table-cell;
	padding-left:40px;
}
#joinForm.cellStyle{
	display: table-cell;
	padding-left: 5px;
}
#joinForm #userid{
	width:100px;
}
#joinForm #userpwd, #joinForm #userpwd2{
	width:80px;
}
#joinForm #useremail{
	width:200px;
	
}


#joinForm #userAddr1,#joinForm #userAddr2{
	width:250px;
	display: block;
}
#joinForm input[type="button"], #joinForm input[type="submit"]{
	background-color:#FFF;
	border:2px solid #ff8080; 
	padding: 3px 10px;
	border-radius: 20px;
}
#joinForm input[type="text"], #joinForm input[type="password"],
#joinForm input[type="radio"], #joinForm select{
	background-color:#efefef;
	border:1px solid #ff8080; 
	padding: 3px;
	margin: 5px;
	width: 60px;
}
#joinForm input[type="date"]{
	background-color:#efefef;
	border:1px solid #ff8080; 
	padding: 3px;
	margin: 5px;
	width: 200px;
}
#joinForm .btnSubmit{
	display: block;
	text-align: center;
	position: relative;
	left: 250px;
	top:2px;
	border-bottom-style: none;
}
#joinForm #userContent{
	background-color:#efefef;
	border:1px solid #ff8080; 
	padding: 3px;
	margin: 5px;
	width: 250px;
	height:100px;
}